@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@400;700;600;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    /* color: #243e63; */
}

body {
    color: #243e63;
}

/* colors 

dark-gray: #1a202c
lighter gray: #243e63
purple: #6415ff
pink: #feb2b2
green: #9ae6b4
red: #f56565

purple-blue bg: rgb(100, 21, 255);
*/

/* generic styles */
.btn__menu, .modal, .nav__menu--modal {
    visibility: hidden;
    opacity: 0;
    transition: all 450ms ease;
}

.modal {
    transform: translateX(300%);
    height: 0;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px;
}

.row__column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex--spaced {
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

li {
    list-style-type:  none;
}

a {
    text-decoration: none;
    position: relative;
    transition: all 300ms ease;
}
.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    max-width: 576px;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__subtitle {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

a:hover {
    color: #6415ff;

}

img {
    width: 100%;
}

.purple {
    color: #6415ff;
}

.divider {
    width: 1px;
    height: 24px;
    background: rgb(229, 231, 235); 
}

.btn--primary {
    cursor: pointer;
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
    font-weight:bold;
}

.btn--primary:hover {
    color: #fff;
}

.btn--primary:active {
    transform: translateY(1px);
}

/* NAV */

.nav__top {
    padding: 32px 32px 0 32px;
    position:relative;
}

.nav__menu--link:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms;
    opacity: 0;
}

.nav__menu--link:hover:after {
    opacity: 1;
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
}

.nav__logo {
    width: 40px;
    height: 40px;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: .6px;
}

.nav__menu {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    justify-content: space-between;
}

.nav__menu--item {
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
}

.nav__menu--login-link {
    margin-left: 48px;
}

/* header */

.header__container {
    align-items: top;
    display: flex;
    justify-content: center;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: 41.6667%;
    /* justify-content: space-between; */
}

.header__description--para {
    margin: 32px 0;
    font-size: 18px;
    line-height: 1.5;
}
.header__img--wrapper {
    max-width: 512px;
    width: calc(100% - 41.6667%);
}

.header__subtitle {
    color: #a0aec0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .6px;
    margin-top: 80px;
    padding-right: 16px;
}

.header__logos {
    padding-right: 128px;
    opacity: .5;
    margin-top: 16px;
}
.header__email {
    position: relative;
    width: 100%;
    max-width: 448px;
    height: 68px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    font-size: 16px;
    padding: 20px 192px 20px 32px;
    position:absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.header__email--input:focus,  /* why isn't this working? */
.header__email--input:active {
    border: 2px solid #6415ff;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    font-size: 16px;
    height: calc(100% - 16px);
}


/* FEATURES */

.features__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
    padding: 32px 24px;
    display: flex;
    align-items: flex-start;
}

.feature__icon--wrapper {
    border-radius: 100%;
    border: 1px solid #e5e7eb;
    padding: 20px;
    display: flex;
}

.feature__description--wrapper {
    margin: 8px 0 0 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.feature__title {
    font-size: 24px;
}

.feature__icon {
    color: #6415ff;
}


/* WORK */

.work__description {
    max-width: 576px;
    margin-right: 64px;

}

.work_description--button {
    margin-top: 32px;
}

/* STEPS */

/* .steps__row {
    justify-content: center;
    display: flex;
} */

.steps__list {
    display: flex;
    flex-direction: column;

}
.steps__description {
    padding-left: 64px;
    width: 50%;
}

.steps__img--wrapper {
    width: 50%;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__title {
    font-weight: 600;
    font-size: 20px;

}

.step__description {
   max-width: 320px;
   margin-left: 24px;
   /* display: flex;
   flex-direction: column; */
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* values */

.values__list {
    display: flex;
    margin-top: 32px;
    
}

.value__icon {
    padding: 10px;
    background-color: #feb2b2;
    border-radius: 100%;
    text-align: center;
    height: 38px;
    width: 38px;
    margin-right: 8px;
}

.value__icon--green {
    background-color: #9ae6b4;
}

.value__title {
    /* margin-left: 12px; */
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
    display: flex;
    align-items: center;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.value:nth-of-type(1) {
    margin-right: 32px;
}

/* PRICING PLANS */

.plans__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.plan {
    width: calc(100% / 3);
    max-width: 384px;
    border-radius: 8px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    z-index: 2;
    border: 0 1px 0 1px solid #e5e7eb;
}
.plan__stripe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 8px;
}

.plan__header {
    line-height: 1.625;
    color: #1a202c;
}

.plan__title, .plan__subtitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.plan__price { 
    font-size: 48px;
    margin: 4px 0;
    font-weight: 700;
}

.plan__subtitle {
    font-size: 16px;
    letter-spacing: .1em;
    color: #a0aec0;
}

.plan__header--white, .plan__subtitle--white {
    color: #f7fafc;
}

.plan__body--title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__body--features {
    color: #718096;
}
.plan__body--features--white {
    color: #f7fafc;
}

.plan__body--feature {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.plan__btn {
    text-transform: uppercase;
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 100%;
    max-width: 192px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    transition: all 300ms;
    color: #6415ff;
    background: #fff;
}

.plan__stripe--green, .btn--green {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: #fff;
}

.plan__stripe--red, .btn--red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%); 
    color: #fff;
}

.plan__header, .plan__body, .plan__footer {
    padding: 32px;
    text-align:center;
}
.plan__body {
    border: 1px solid #e5e7eb;
    border-width: 1px 0 1px 0;
}

.plan__body--purple {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__btn:hover {
    transform: translate(1px, -1px);
    box-shadow:  rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan--purple {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: #fff;
}

/* TESTIMONIALS */

.testimonials__img--wrapper, .testimonials__description {
    width: 50%;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__rating {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.testimonial__title {
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5; 
    margin-top: 16px;
}

.testimonial__para {
    margin: 16px 0px 40px 0;
    color: #4a5568;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}
.testimonial__bio {
    display: flex;
    align-items: center;
}

.testimonial__img--wrapper {
    /* Styles for testimonial__img--wrapper */
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__name--wrapper {
    margin-left: 24px;
}

.testimonial__bio--name {
    /* Styles for testimonial__bio--name */
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5
}

.testimonial__bio--title {
    /* Styles for testimonial__bio--title */
    color: #7c8ba1;
    line-height: 1.5;
    font-weight: 500;
}

.testimonial__buttons {
    /* Styles for testimonial__buttons */
    display: flex;
    align-items: center;
}

.testimonial__button {
    /* Styles for testimonial__button */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
    height: 40px;
    width: 40px;
    border: none;
}

.testimonial__button:hover {
    background-color: rgba(226,232,240);
}

/* CTA */

.cta__row {
    background: rgb(100, 21, 255);
    padding: 96px 32px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.cta__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
    width: 50%;
}

.cta__btns {
    display: flex;
    justify-content: flex-end;
}

.cta__btn {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 1px;
    z-index: 2;
    transition: all 300ms ease;
    border: none;
}

.cta__btn--primary {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
}

.cta__btn--secondary {
    background: transparent;
    border: 1px solid rgb(160, 174, 192);

}
.cta__btn--primary:hover {
    background: rgba(229,62,62);
}

.cta__btn--secondary:hover {
    background: rgba(247,250,252);
    color: #6415ff;
}

.cta__blob--1 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-80px) translateY(128px) scaleX(1) scaleY(1);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}
.cta__blob--2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(80px) translateY(-256px);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}


/* FOOTER */

footer {
    margin-top: 96px;
    position: relative;
    overflow: hidden;
}
.footer__container {
    padding: 96px 32px 64px 32px;
    background: rgb(100, 21, 255);
}
.footer__row {
    z-index: 4;
    position: relative;
}
.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(118px) translateY(180px);
    z-index: 1;
    opacity: 0.5;
}

.footer__columns {
    /* Add properties like background-color, padding, margin, etc. */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__column {
    /* Set properties for layout, like display, flex, etc. */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;
}

.footer__menu--heading {
    text-transform: uppercase;
    color: #f7fafc;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer__menu--link {
    /* Style for individual links: text-decoration, color, padding */
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: not-allowed;
}

.footer__menu--link:after {
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -6px;
    background: #fff;
    transition: all 300ms ease;
    opacity: 0;
    position: absolute;
}
.footer__menu--link:hover {
    color: #fff;
}

.footer__menu--link:hover:after {
    opacity: 1;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo--wrapper {
    display: flex;
    align-items: center;

}

.footer__logo {
    width: 32px;
    height: 32px;
}

.footer__logo--title {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__social--wrapper {
    /* Layout properties: display, justify-content */
    display: flex;
    justify-content: space-between;
}

.footer__social--link {
    /* Style for social media links, padding, color */
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    color: #243e63;
    border-radius: 50%;
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    transition: all 300ms ease;
    cursor: not-allowed;
}
.footer__social--link:hover {
    color: #243e63;
    background: rgba(203,213,224);
}

.footer__social--icon {
    font-size: 12px;
    
}

/* responsive media queries */

@media (max-width: 1024px) {

h1 {
    font-size: 30px;
}

header .flex {
    flex-direction: column;
    align-items: center;
}
.header__description, .header__img--wrapper {
    text-align: center;
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
}
.header__img--wrapper {
    margin-top: 48px;
}

.header__description--para, .section__para {
    font-size: 16px;
}

.header__logos {
    padding: 0;
}

.header__email {
    max-width: 512px;
}

.section__title {
    font-size: 36px;
    line-height: 1.25;
}

/* FEATURES */
.features {
    max-width: 768px;
    flex-wrap: wrap;
}

.feature {
    width: calc(50%);
}

#features .section__title {
    text-align: center;
}

/* QUALITY WORK */

.values__list {
    flex-direction: column;
    max-width: 320px;
    margin-top: 0;
}

.value {
    margin-top: 40px;
}

/* PRICING */

.plans__row {
    flex-wrap: wrap;
    justify-content: center;
}

.plan {
    width: 100%;
}



/* TESTIMONIALS */

.testimonials__description {
    width: calc(100% - 41.6667%);
    padding-left: 48px;
}

/* CTA */

.cta__row {
    flex-direction: column;
}

.cta__title {
    width: 100%;
    max-width: 512px;
    text-align: center;
}

.cta__btns {
    margin-top: 24px;
}
.cta__btn {
    padding: 16px 32px;
}

#cta .container {
    padding: 0 32px;
}

/* HAMBURGER MENU */

.btn__menu, .btn__close {
    visibility: visible;
    opacity: 1;
    border: none;
    font-size: 24px;
    background: transparent;
    cursor: pointer;
}
.btn__menu {
    position: absolute;
    top: 48px;
    right: 24px;
}

.nav__menu {
    visibility: hidden;
}

.menu--open .modal, .menu--open .nav__menu--modal {
    opacity: 1;
    visibility: visible;
    z-index: 4;
}

.menu--open .modal {
    position: fixed;
    /* position: absolute; */
    height: 100%;
    left: 0; 
    top: 0;
    right: 0;
    margin: 24px 16px;
    background-color: #fff;
    padding: 32px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    transform: translateX(0);
    height: 378px;

}

.menu--open .nav__menu--modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.menu--open .nav__menu--link {
    font-size: 18px;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    color: #1a202c;
    display: flex;
}

.menu--open .nav__menu--link:after {
    opacity: 0;
}

.menu--open .nav__menu--login-link {
    margin-left: 0;
}

.menu--open .btn--primary {
    padding: 12px 32px;
    font-size: 18px;
}


.btn__close {
    position: absolute;
    top: 24px;
    right: 18px;
    z-index: 5;
}

}
/*** smaller size ***/

@media (max-width: 768px) { 

    .features {
        justify-content: center;
    }

    .feature {
        width: auto;
        max-width: 384px;
    }
}